.pagina-perfil {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 32px;
    margin-bottom: 20px;
  }

  .card-perfil {
    background: white;
    padding: 25px;
    border-radius: 20px;
    width: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);

    .avatar {
      width: 100px;
      height: 100px;
      background: #777;
      border-radius: 50%;
      color: white;
      display: flex;
      font-size: 42px;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      margin-bottom: 10px;
    }
  }
}
